# 忽略api_key环境文件
config/config.env

# 忽略整个 GPT-SoVITS 文件夹
GPT-SoVITS/

# 忽略日志和输出
log/
outputs/
*.log

# 忽略 Python 缓存
__pycache__/

# 忽略 models 文件夹
models/

# 忽略 测试文件
test.py
test.ipynb

# 忽略 记忆文件
memories

# 忽略 live2d模型
live2d/models